---
layout: post
title: Diaspora-I'm lovin' it!
date: 2012-11-02 08:26:00.000000000 +05:30
type: post
published: true
status: publish
categories:
- What I think today
tags:
- computer
- Debian
- Diaspora
- GNU/Linux
- technology
meta:
  _oembed_804b9b15b88ae0a8dfd5dcb61fbfaac8: "{{unknown}}"
  _oembed_f9854b55a78f4dfcc6f545d338595382: "{{unknown}}"
  blogger_blog: skillwillprevail.blogspot.com
  blogger_author: Nandaja Varma
  blogger_edcba71fdd064ece462fa9d9db635047_permalink: '5170333696206232696'
  _oembed_a7c282162fd0792fd29ab9a59ab534ae: "{{unknown}}"
  _edit_last: '41605810'
  _oembed_913923428d6168b67b23219053c1f9ef: "{{unknown}}"
  _oembed_cf9de1e475f5a9f497bf4cd3e9744cd6: "{{unknown}}"
  _oembed_c65c83315af309bfd13813f6c5ba106d: "{{unknown}}"
  _oembed_8a19651670a571c1d7cecf836591e77a: "{{unknown}}"
  _oembed_b811956e660c2aedbbf70264556dff95: "{{unknown}}"
  _oembed_1e851d93f28692ef16ff694f4b34ab0f: "{{unknown}}"
  _oembed_d09ed3a519380e7bf34f80a635940902: "{{unknown}}"
  _oembed_125ebf9445b982e1e0b776a298d05b41: "{{unknown}}"
  _oembed_05bc28791d9591eb2558c653962f101e: "{{unknown}}"
  _oembed_0a97dde8335108462f808d3ae85a9f2f: "{{unknown}}"
  _oembed_f39b841adce04b8ae95017c44279261c: "{{unknown}}"
  _oembed_79bf5c1047c6853fa60342e21d588019: "{{unknown}}"
  _oembed_8794e1239eb3d851605cc872f1298457: "{{unknown}}"
author:
  login: nandajavarma
  email: nandaja.varma@gmail.com
  display_name: Nandaja
  first_name: ''
  last_name: ''
---
<div dir="ltr" style="text-align:left;">Howdy,</div>
<div dir="ltr" style="text-align:left;">Social networking is an experience that most of us do love. The most recent addition to this colossal world of social networking is diaspora.</p>
<div class="separator" style="clear:both;text-align:center;"></div>
<p>Diaspora is a free personalized web server that can be installed and implemented as a distributed social network. In simple words, we own our own social networking site (More or less) . Unlike the other social networking sites, where the members are treated as mere products,in diaspora we are our own masters. Many pods/servers are maintained by numerous private groups/ individuals all around the world. We can create our account in any one of them or we can opt to run our own pod. And as it is distributed, We can connect to people with account in any other pods. Pretty cool, huh?<br />
So if you are fed up of  money sucking site maintainers manipulating our data, love open source or are looking for a new social networking experience then Knock yourselves out! My account is in joindiaspora.com. I opted this one because this is the pod maintained by the original debian developers themselves and I found the start page and all pretty cute.</p>
<p>As it is an open source project which has started only very recently, it definitely miss many features that are provided by many other social networking sites. But on the bright side, look at the privacy that diaspora provides us. We can choose which all data are to be gone public, which all data are to be shown in our profile and which all data we want to see rather than someone else choosing all of the above for us. It's widget is quite similar to that of some popular social networking sites. So there won't be any trouble getting started because the environment is quite familiar. Also the like, comment and share utilities are  available. It definitely miss the tagging images functionality. You can consider it as a hit or miss, but I think it's a hit because if we want our picture to be seen then we can simply re-share it. No need of other people tagging in our name. See I get to decide that too. In diaspora, instead  of add friend or add to circle we have 'Add contact' option and we can choose there itself  which contact  list it goes to. Instead of  'Home', here it is stream. Also the share box is much cooler and easier to work with.</p>
<p>Okay! May be I'm bragging, because I am a FOSS enthusiast. But still, you wouldn't know unless you try it. So I recommend you all to try diaspora.<br />
You can find my  profile  in joindiaspora.com :<br />
https://joindiaspora.com/people/b172ada9583dd0c5<br />
For more info about Diaspora:<br />
http://en.wikipedia.org/wiki/Diaspora_%28software%29</p>
<p>So hail Diaspora.<br />
Hail FOSS.</p>
<p>Cheers Ya all.. :-)</p>
<div class="separator" style="clear:both;text-align:center;"></div>
</div>
