---
layout: post
title: Hello world!
date: 2012-10-30 14:21:03.000000000 +05:30
type: post
published: true
status: publish
categories:
- What I think today
tags: []
meta:
  _edit_last: '41605810'
  _oembed_5a26c628adfbadaab7f4a6afbb2001ff: "{{unknown}}"
  _oembed_e97857f238c9c16519476832e0bdb505: "{{unknown}}"
  _oembed_f85daa94087e57cdf03f1e7da2bc5444: "{{unknown}}"
  _oembed_59e5b4680019cad37870c1090cdd7544: "{{unknown}}"
author:
  login: nandajavarma
  email: nandaja.varma@gmail.com
  display_name: Nandaja
  first_name: ''
  last_name: ''
---
<p>Blogging! Not my cup of tea, probably. But still giving it a try.</p>
<p>Cheers.</p>
