---
layout: post
title: Recovering lost password in Ubuntu 12.04
date: 2012-12-10 15:34:13.000000000 +05:30
type: post
published: true
status: publish
categories:
- What I learned today
tags:
- changing password
- command passwd
- computer
- GNU/Linux
- Linux
- root partition
- technology
- Ubuntu
meta:
  tagazine-media: a:7:{s:7:"primary";s:0:"";s:6:"images";a:0:{}s:6:"videos";a:0:{}s:11:"image_count";i:0;s:6:"author";s:8:"41605810";s:7:"blog_id";s:8:"42178536";s:9:"mod_stamp";s:19:"2012-12-10
    15:39:54";}
  _publicize_pending: '1'
  _edit_last: '41605810'
author:
  login: nandajavarma
  email: nandaja.varma@gmail.com
  display_name: Nandaja
  first_name: ''
  last_name: ''
---
<p>Yesterday, While I was trying to help my friend with his lost Ubuntu password, I explored the following two methods to do this quite easily.</p>
<p>First method is using the recovery mode. This method is pretty simple.</p>
<p>In the grub menu, select the recovery mode. Then in the menu that appear, scroll down to the option 'Drop to root shell prompt'. Now you will get a shell prompt with root authentication at the bottom of the screen. Now before changing the password we have to remount the root in read write mode and for that run the following command.</p>
<p style="text-align:center;"><strong style="text-align:center;">            mount -rw -o remount /</strong></p>
<p>Now go ahead and change the password of the corresponding user using the following command.</p>
<p style="text-align:center;"><strong>            passwd &lt;username&gt;</strong></p>
<p>Now the prompt will ask for the new password. After entering it twice, as will be asked by the prompt, exit from the prompt by just entering <strong>exit. </strong>Now select the resume normal booting option. Sometimes when booting into the system from recovery mode can give you a disoriented display screen and simple restarting is the solution for this.</p>
<p>Although the above method worked just fine in my system, my friend didn't have much luck in making this work in his system ( God knows why. ). So I tried another method and that is using the live CD. The steps I followed are as follow :</p>
<p>1. Boot into the Ubuntu live CD and select the option try Ubuntu.</p>
<p>2. Open  the terminal and mount the partition that is the root partition for your actual Ubuntu as mount point.</p>
<ul>
<li>If you don't know the root partition, open gparted and see which drive is set as bootable.</li>
</ul>
<p>Suppose /dev/sda1 is your root partition. Now to mount it as the mount point run the command :</p>
<p style="text-align:center;"><strong>   sudo mount /dev/sda1 /mnt</strong></p>
<p>3. Make this mount point as root and for this we use chroot :</p>
<p style="text-align:center;"><strong>sudo chroot /mnt</strong></p>
<p>4. Now you can proceed with changing password of the corresponding user, i.e. :</p>
<p style="text-align:center;"><strong>  sudo passwd &lt;username&gt;</strong></p>
<p>Enter the new password as asked.</p>
<p>5. Un-mount the root partition</p>
<p style="text-align:center;"><strong>umount /mnt</strong></p>
<p>6. Restart the system and now you can log in to your system with the new password.</p>
<p>I found some more methods too, online, but the above two worked perfectly for me. So didn't bother to experiment with anything else. Hope this works for my friend too.</p>
