---
layout: post
title: Anti virus for Linux
date: 2012-12-22 14:33:31.000000000 +05:30
type: post
published: true
status: publish
categories:
- What I learned today
tags:
- antivirus
- binary
- computer
- executable
- FOSS
- GNU/Linux
- Linux
- open source
- technology
- terminal
- Ubuntu
- virus
meta:
  _edit_last: '41605810'
  tagazine-media: a:7:{s:7:"primary";s:0:"";s:6:"images";a:0:{}s:6:"videos";a:0:{}s:11:"image_count";i:0;s:6:"author";s:8:"41605810";s:7:"blog_id";s:8:"42178536";s:9:"mod_stamp";s:19:"2012-12-22
    16:39:06";}
  _publicize_pending: '1'
author:
  login: nandajavarma
  email: nandaja.varma@gmail.com
  display_name: Nandaja
  first_name: ''
  last_name: ''
---
<p>Using an anti virus software in my Linux machine is something that I have not given much thought to. I know for the fact that the odds for a Linux system to get affected by a malware is pretty low. As of my understanding, the fact that Linux systems use open source software is a big bonus here. I mean, why would some one bother in sitting and writing a harmful program when everyone can see your code. Also crackers aim at a much elaborate target. I am sure they have better things to do than messing with some Linux users, which is only 2% of world computer users' population. Still, there are executable files that may get into your system via mails or flash drives. But in Linux, nothing will happen if you simply double click an executable file (provided you don't have Wine installed). It won't get executed unless you give it permission for execution. This is much unlikely to happen as Linux users are supposed to know what they are doing (Myself excluded!). And of course, there are many more reasons like user privileges, simplicity of kernal, etc.</p>
<p>But this doesn't mean that we don't need an anti virus software installed. For instance, as in my case, I thought of  using an anti virus software when my windows using friends started blaming me for spreading malwares via flash drives. And also, being a music junkie, I constantly give my phone a hard time copying downloaded files to it from my computer.</p>
<p>After going through several forums, I decided to go for clamAV. It is an absolutely open source anti virus software. You can install the package clamav or clamtk (If you want the GUI).</p>
<p style="text-align:center;"><strong>sudo apt-get install clamav</strong></p>
<p>Now to start scanning, run the following command in the terminal.</p>
<p style="text-align:center;"><strong>clamscan -r  &lt;folder or file to be scanned&gt;</strong></p>
<p style="text-align:left;">(-r as in recursive)</p>
<p>Now update your virus database definitions by running the command :</p>
<p style="text-align:center;"><strong>freshclam </strong></p>
<p style="text-align:left;">You may also want to uncomment the line that includes the path to the local socket in the clamd.conf file (/etc/clamav/clamd.conf).</p>
<p style="text-align:left;">Now we are good to go.</p>
