---
layout: post
title: MiniDebConf at NIT-C
date: 2013-03-11 07:48:56.000000000 +05:30
type: post
published: true
status: publish
categories:
- Packaging
tags:
- Debian
- FOSS
- FOSSMeet
- fun
- happy
- MiniDebConf
- Packaging
- Rubygem Packaging
meta:
  _publicize_pending: '1'
  _edit_last: '41605810'
author:
  login: nandajavarma
  email: nandaja.varma@gmail.com
  display_name: Nandaja
  first_name: ''
  last_name: ''
---
<p>Ever since I started loving FOSS, I really wanted to attend a FOSSMeet. And last month I got extremely lucky and could attend FOSSMeet at NIT-C. This year along with FOSSMeet a MiniDebConf was also arranged. A month prior to it, I was asked to give a Ruby gem packaging session at this MiniDebConf. I was quite nervous because this was the first FOSS event I ever attended and I was asked to give a session. But I knew it would be a great experience, So I decided to go with it.</p>
<p>FOSSMeet was conducted from 22nd to 24th of February and my session was scheduled for 24th. I reached Calicut town on 23rd morning (Obviously unprepared) and when I was just about to hop into a bus to NIT, one of the MiniDebConf organizers, <a href="http://swvist.github.com/">Vipin</a> called me and said that my session was preponed to that day afternoon. I started freaking out because I still had to prepare slides and decide what all to include in my session. As soon as I reached NIT, I had to go to my relatives' place at the NIT apartments, where I was supposed to stay for the next two days ( I preferred hostel, but whatever!). After that I rushed to NIT campus, got my speaker's ID card from the registration counter and started roaming around the campus searching for the MiniDebConf venue. Finally I found that it was going on at the networks lab and got there. When I entered<a href="http://look-pavi.blogspot.in/"> Pavi</a> and <a href="http://flossexperiences.wordpress.com/">Shirish</a> were giving talks on debian releases and stuff and I quite honestly didn't know how to introduce myself. 'Hey, I am Nandaja. I am a speaker here' didn't sound polite enough. So I followed a guy, who assigned me a system in the lab thinking I am a delegate there. So I sat there and started preparing slides for my session until the lunch break.  Once I reached the hall were lunch was being served, I decided to socialize. I met some cool SMC people who were really easy going and friendly and then I met<a href="http://www.j4v4m4n.in/"> Praveen</a>, whom I was more than happy to meet. After the lunch, we went back to the NSL lab and there Praveen introduced me to Shirish and Pavi, two Debian gurus. It was the time for Debian installation workshop. Pavi asked me to help the delegates with the partitioning and stuff, which I tried doing and I don't think the students who listened understood much. We clapped for the teams who successfully completed the installation. The session lasted till evening and it was supper time soon after. So my packaging session was again rescheduled for the next day. I again met some cool geeks there. There was a really nice Aaron Swartz memorial talk by Vishnu later that night. Following that was hack night and a talk by Praveen on open source contributions. It was getting too late and had to get back to the relatives' place. So I missed it (The reason why I preferred hostel).</p>
<p>So it was day-2 and my session was scheduled as the first event at MiniDebConf, that day. I got into NSL and heard all of them had real fun last night, albeit it wasn't that much of a 'hack' night. It was supposed to be a full day packaging session at MiniDebConf, which me and Praveen decided to do together. But as many other interesting events were happening simultaneously, only very few came. So we decided we'll start packaging session once all other interesting events are over. But unfortunately, the students who showed up started leaving one by one. Luckily for me, a very enthusiastic girl showed up, who missed first day's session and wanted to learn more about Debian. I started giving a private session for her. But around half an hour later, she said she has got a farewell party to attend and left (Yeah! She literally ran away :-P ). Till the lunch time we sat there chit-chatting. We even went to the 3D-Blender workshop but as soon as the speaker's lap screen showed a windows desktop we left (Come on, It's FOSSMeet, man!). After lunch, we exactly had 6 people at the packaging session and we decided to do it anyway. <a href="http://stultus.in/">Hrishi</a> started off the session with an introduction to diaspora. Then me and Praveen together started explaining packaging. There were some really cool people there, like, Vamsee Kanakala, the Executive developer at Bang The Table, a government employee, whose sole intention was to attend the packaging event and four other enthusiastic students. The session proceeded pretty well and they were picking it up pretty fast. Almost by the end of the session, Vamsee asked me if I would like to do an internship at Bang The Table and I accepted the offer right away. :-) We couldn't cover the whole packaging process because it was time for the closing ceremony. Anish, Praveen Vamsee and many others gave the feedback. Vamsee was really kind and he even mentioned my name at the feedback session. I was also asked to give the feedback and honestly I don't remember what the heck I said there. All of us speakers got a beautiful momento. I bought a FOSSMeet t-shirt and was about to leave.</p>
<p>Just then, Vipin, <a href="http://jaseemabid.github.com/">Jaseem</a>, Pavi, Praveen, Shirish, <a href="https://joindiaspora.com/people/37c67c47e1b65ee1">Akshat</a>, <a href="http://thecodecracker.com/">Jishnu</a> and <a href="https://joindiaspora.com/u/anish">Anish</a> were planning to have a group dinner and invited me as well. It was pretty cool. I never though I would have so much fun hanging out with such uber geeks. After that, it was time for us to bid farewell and all of us went on our own ways.</p>
<p>As it was late, I couldn't go back home that day. I left Calicut the day after. Quite frankly, I was pretty sad that the FOSSMeet was over. But I was really happy too at the same time, because I made some new geeky friends, got an internship offer at Bangalore and had a lot of fun. Plans for the next MiniDebConf were going on. I am so looking forward to attend that one and hope it happens soon. :-)</p>
