---
layout: post
title: Bangalore Diaries
date: 2013-04-29 21:59:58.000000000 +05:30
type: post
published: true
status: publish
categories: []
tags: []
meta:
  _publicize_pending: '1'
  _edit_last: '41605810'
author:
  login: nandajavarma
  email: nandaja.varma@gmail.com
  display_name: Nandaja
  first_name: ''
  last_name: ''
---
<p>I remember times when I used to eagerly wait for my school final exams to get through with, so that I can enjoy the long summer holidays that follows. I have been missing that feeling for a while now. But this year I was impatiently waiting for summer to arrive because I knew what was waiting for me this summer season. A long month ahead filled with knowledge, fun and freedom. An internship in Bangalore! But once  I reached Bangalore city, I could feel that my all my excitement was turning into ashes. My nerves started kicking in (As it always does) and I started wondering 'What the heck am I doing here?'. I am joining as a temp intern in this cool Australian Software company called <a href="http://bangthetable.com">Bang the table</a> . I don't know Ruby on Rails or even Ruby without which basically all I am eligible to apply for is probably the post of an office boy/girl (Which is already taken, FYI). I got a small place (very small) to live which I knew I would love from the first sight of it and got three amazing roommates, who have been trying so hard to make my Hindi speaking skills better till date.</p>
<p>So I joined my office exactly on April 1st ( Which date could be more appropriate than this, eh? ). All the faces were extremely welcoming and warm, and some of which quite familiar too, most of them being mallu faces. I had great fun shooting people with laser guns on my first day itself. Thanks to Ershad for his awesome birthday treat. My timing was just perfect.</p>
<p><a href="http://nandajavarma.files.wordpress.com/2013/04/547589_10151558520005801_1027744001_n.jpg"><img class="size-full wp-image" id="i-1158" alt="Image" src="{{ site.baseurl }}/assets/547589_10151558520005801_1027744001_n.jpg?w=630" /></a></p>
<p>My internship started off pretty smoothly. Although I didn't know Ruby I managed to understand their code base to a very small extend and started poking around with it. Office has been just awesome. To add to the fun, there is a refrigerator for you to raid whenever you are hungry and a coffeemaker which refreshes you with lattes and cappachinos (which I'll miss very badly) :-(</p>
<p>I completed my first week pretty smoothly and was wondering what to do during weekends in this <em>anjaana shehar.  </em>Luckily for me, as two of my friends Hrishi and Adhil were free those days, I did hang out with them and it was great fun. We just did roam around  Bangalore city (Not to mention, got lost at many points), ate good Kerala  food and happily wasted a whole day. :-D</p>
<p>The following weekend also I met with my friends here (more of online friends) like Jishnu, Praveen, Anivar, Joshina and many others which was basically a Swathanthra Malayalam Computing meet-up and had fun then as well.</p>
<p>On the week next to it, We had our Australian directors visiting us (Again perfect timing of mine). The whole bang the table team went out, played paintball (which again involves shooting people) and had an awesome party at the end of the day. I consider myselves quite lucky that I got the chance to meet all those amazing people. That day will definitely stay in my memory for a long time to come.</p>
<p>That was about my office. Now coming to my hostel, it is an entirely different scene here. I have been living in hostel for the past 3 years but the hostel life here was quite different. The thing I loved the most is, the level of intimacy is really high here. I am not used to roomies who take so much care of each other just like sisters do. I am really going to miss these guys.</p>
<p>So what I achieved within this one month period. Difficult to answer. Definitely would have regretted if I missed this opportunity my entire life. So now gratitude time. :-) Thanks to Vamsee who offered me the internship in the first place. Thanks to my parents for letting me go, although they were a little hesitant in the beginning. Thanks to my senior from college Haris, who gave me the courage to go for it (He has been doing it for a while now and my biggest regret is that I couldn't meet with him in person). Thanks to my friends Hrishi, Adhil, Jishnu and all the others who didn't make me feel alone at all in this new place.</p>
<p>(Does that sound like a pageant show winner's speech? Ugh! To all those who keep nagging me to write, In your face! :-P)</p>
<p>Anyway, I have packed my bags and am about to leave this place tomorrow and Boy, Am I sad going back home? :-P</p>
<p>(Hope the title is creative commons)</p>
