---
layout: post
title: 'GSoC Weekly status update #8'
date: 2013-08-17 13:14:25.000000000 +05:30
type: post
published: true
status: publish
categories:
- What I learned today
tags:
- font
- GSoC
- malayalam
- SMC
meta:
  _publicize_pending: '1'
  _edit_last: '41605810'
  _oembed_b5ba3722b0f61518ef8dcaace9a09dd1: "{{unknown}}"
  _oembed_171cd50953a8d54167e232d2bc7b2361: "{{unknown}}"
author:
  login: nandajavarma
  email: nandaja.varma@gmail.com
  display_name: Nandaja
  first_name: ''
  last_name: ''
---
<div>I have changed the framework interface from its previous form, although the previous front end automated_rendering_testing.py is still present in the repo. Now the new interface, rendering_testing.py, need all the file names to be provided as command line arguments. The user gets the convenience  of using the tab completion this way. The user will have to give as command line arguments 6 files (font  file, test cases file, reference file, rendering output and files to store output) and an optional directory name(if the engine is harfbuzz).</div>
<div> If the rendering engine is harfbuzz, user can run the script generate_hb_rendering.py  along with the test cases file and font file as parameters, to create the rendered output file. If that is not the case, the user will have to create this file as well in the prescribed form.</p>
<div>Now, the algorithm that actually test the rendering was a bit buggy and was giving certain wrong outputs for words with multiple rendering engines and I have cleared this error. This feature gives correct output now for the files I tried it with.</div>
<div>The next thing I am working on is the web interface and I am using Flask framework. Will make this code public as soon as I get the script running from the page.</div>
<div>Find the code here: <a href="https://github.com/nandajavarma/Automated-Rendering-Testing">https://github.com/nandajavarma/Automated-Rendering-Testing</a></div>
</div>
