---
layout: post
title: Patching using quilt
date: 2013-01-07 21:07:57.000000000 +05:30
type: post
published: true
status: publish
categories:
- Packaging
- What I learned today
tags:
- Debian
- debian developers
- debian source packages
- GNU/Linux
- Linux
- Packaging
- quilt patches
- quilt work
- software
- technology
- terminal
meta:
  _publicize_pending: '1'
  _edit_last: '41605810'
  tagazine-media: a:7:{s:7:"primary";s:0:"";s:6:"images";a:0:{}s:6:"videos";a:0:{}s:11:"image_count";i:0;s:6:"author";s:8:"41605810";s:7:"blog_id";s:8:"42178536";s:9:"mod_stamp";s:19:"2013-01-07
    21:17:40";}
  _oembed_e408fc85547fde62454264af8e4e4888: "{{unknown}}"
  _oembed_83efaacc2dec93d9bbb30d89dc43f119: "{{unknown}}"
  _oembed_b8d157fa8c7759391ddd4a03788a0171: "{{unknown}}"
  _oembed_fb5bdc962b1e8263d07994adc747445f: "{{unknown}}"
author:
  login: nandajavarma
  email: nandaja.varma@gmail.com
  display_name: Nandaja
  first_name: ''
  last_name: ''
---
<p>Patch files are files used to apply changes to the source code of a computer program. These changes may be for fixing bugs or for extending functionality. Quilt is a software utility for managing patches. Quilt is highly used among Linux kernal developers for managing patches. I started using quilt when I had to patch a piece of code while I was packaging for debian. Debian source packages usually use quilt. It has been incorporated into dpkg (Debian's package manager).</p>
<p>So, Let's say you downloaded a debian package and found a bug in it. So you will have to create a patch and send it to the Debian developers for their review and approval.</p>
<p>Assuming that you've quilt installed (sudo apt-get install quilt) first step is to create the configuration file .quiltrc.</p>
<p>Create a file named .quiltrc in your home directory and open it up in your favorite editor. Copy the following lines into the editor, save it and exit.</p>
<pre><strong>QUILT_PATCHES=debian/patches
QUILT_NO_DIFF_INDEX=1
QUILT_NO_DIFF_TIMESTAMPS=1
QUILT_REFRESH_ARGS="-p ab"</strong></pre>
<p>Quilt work with some directories. It will create a .pc/ directory and patches/ directory. As in the case of debian packages, you can find the patches you made (Or going to make) under debian/patches/ directory.</p>
<p>Now we will create the new patch.</p>
<p style="text-align:center;"><strong>quilt new this_is_my_patch.patch</strong></p>
<p>Next step is to let quilt know which file we are going to edit and for that the command is as follows.</p>
<p style="text-align:center;"><strong>quilt add /path/to/the/file/to/edit</strong></p>
<p>Now open up the file in your favorite editor, make the changes, save it and exit. Alternatively, you can add and edit the file in a single step like this :</p>
<p style="text-align:center;"><strong>quilt edit path/to/the/file/to/edit</strong></p>
<p>The file will open up either in nano or vim where you can make changes, save and exit.</p>
<p>Now to apply the patch enter the command:</p>
<p style="text-align:center;"><strong>quilt refresh</strong></p>
<p>Now two other important commands while we are dealing with quilt is pop and push. Pop will remove a patch while push will apply it. The patches are basically arranged in a stack like form by quilt. If we do a pop, the patch we applied recently will be removed, even though we can find the patch file under patches directory. So when we do a push now, that patch will be re-applied. Commands for both these are quite straightforward.</p>
<p style="text-align:center;"><strong>quilt pop</strong></p>
<p style="text-align:center;"><strong>quilt push</strong></p>
<p>Now, If you want to edit an existing patch, Make sure that the patch is applied. That is,</p>
<p style="text-align:center;"><strong>quilt push -a               </strong></p>
<p>('a' as in all)</p>
<p>Then edit the file as required and just run:</p>
<p style="text-align:center;"><strong>quilt refresh</strong></p>
<p>While we are building the package, We may want to remove all the patches associated with it. And to do that either we can enter the command <strong>quilt pop -a</strong><strong> </strong>each time we build the package or we can create a file named local-changes under debian/source/ directory containing the single line unapply-patches so that the patches will be automatically removed after a local build (Considered as a good practice. ).</p>
<p style="text-align:center;"><strong>echo "unapply-patches" &gt; debian/source/local-changes</strong></p>
<p> That's pretty much the most basic steps involved. For diving in deeper (Ha! As if. ) refer : <a href="http://www.debian.org/doc/manuals/maint-guide/modify.en.html#quiltrc">http://www.debian.org/doc/manuals/maint-guide/modify.en.html#quiltrc</a> (Didn't help me much. )</p>
<p>Also there are some standards we ought to follow when we are creating a patch, so that everyone can understand it's purpose, author etc. The one I followed is DEP-3 and find more about it here: <a href="http://dep.debian.net/deps/dep3/">http://dep.debian.net/deps/dep3/</a> . It involves just some simple steps when we add some line in the beginning of our patch file like - Description, Author, Forwarded, Date modified, etc.</p>
<p>And do not forget to let git know all the changes you've made, if you are using git.</p>
