---
layout: post
title: 'GSoC - Weekly status update #9'
date: 2013-08-26 00:30:11.000000000 +05:30
type: post
published: true
status: publish
categories:
- What I learned today
tags: []
meta:
  _publicize_pending: '1'
  _edit_last: '41605810'
  _oembed_b5ba3722b0f61518ef8dcaace9a09dd1: "{{unknown}}"
  _oembed_171cd50953a8d54167e232d2bc7b2361: "{{unknown}}"
author:
  login: nandajavarma
  email: nandaja.varma@gmail.com
  display_name: Nandaja
  first_name: ''
  last_name: ''
---
<p>The work of mine has been correcting the reference glyph files and developing a web interface for the proposed framework. I had tried and made the reference files least buggy as possible. I have gone through the glyph names of almost all the 243 words in 4 fonts. I had to invest a lot of time on this especially due to one minor misunderstanding of mine on the multiple correct renderings of the words. And I hope it will get much refined after Rajeeshettan proof read it for 2 fonts as he has suggested.<br />
(I have changed the renderings of words with repham in Rachana such that the dotreph comes first. So words like these http://troll.ws/image/2e3a872e, http://troll.ws/image/469dd87a, http://troll.ws/image/5838dbec although looks correct, will be in the wrongly rendered words list by harfbuzz.)</p>
<p>The next part of this weeks work was developing the web interface (Excuse my poor design, I am cleaning it up as I write). It doesn't actually spits output to the user now or doesn't make it easier for the user to open files. I am hoping to make it run the script well in a week's time and don't think it is ready yet for the review. So I would like another week to make it ready for reviewing.</p>
<p>And finally about the C code I have added to the repo. I will start working on a new code in C++ once I am done with the webpage as I find the present code massively buggy and really inefficient. I hope I'll be able to update it the week after next.</p>
<p>My code here: <a href="https://github.com/nandajavarma/Automated-Rendering-Testing">https://github.com/nandajavarma/Automated-Rendering-Testing</a></p>
