---
layout: post
title: 'GSoC Weekly update #6 & #7'
date: 2013-08-11 10:42:51.000000000 +05:30
type: post
published: true
status: publish
categories:
- What I learned today
tags:
- "#fonts"
- "#python"
- GSoC
- SMC
meta:
  _publicize_pending: '1'
  _edit_last: '41605810'
  geo_public: '0'
  _oembed_b5ba3722b0f61518ef8dcaace9a09dd1: "{{unknown}}"
  _oembed_171cd50953a8d54167e232d2bc7b2361: "{{unknown}}"
author:
  login: nandajavarma
  email: nandaja.varma@gmail.com
  display_name: Nandaja
  first_name: ''
  last_name: ''
---
<p>The past two weeks has been a blur with a lot of travelling and minimal Internet access. The following are the works I have been doing so far:</p>
<div>The following modifications were asked to be made on the existing framework by my mentor after a Hangout session as part of the evaluations:</div>
<div></div>
<div>1. Modify the comparison algorithm so as to show positive results for the words with multiple correct renderings - This modification is made. Now, the user can give multiple glyph names separated by comma in the reference file and if the rendering matches any one of these, the framework will return a positive response.</div>
<div></div>
<div>2. Modify the reference glyph file, adding the glyph names of words with multiple correct renderings. Also some corrections were asked to be made in the existing reference file.</div>
<div></div>
<div>3. Modify the framework such that the user can even test by giving the file names as parameters. This one needs a little more work as I didn't give options in argument parser for all the necessary file inputs. Will update this soon.</div>
<div></div>
<div>Along with these some minor fixes were asked to be done on the script and all those are taken care of.</div>
<div></div>
<div>As for the further developments, planned to create a web interface for this framework. I am trying to create this interface using Flask and I am currently working on it.</div>
<div>After that, the framework will be implemented in C. I have added a partially working implementation of this in the repo.</div>
<div>After the completion of all these, if time permits, references for other fonts are also planned to be made.</div>
<div></div>
<div>Will keep posted on further developments.</div>
<div>Thanks!</div>
<div></div>
<div>Find my code here: <a href="https://github.com/nandajavarma/Automated-Rendering-Testing">https://github.com/nandajavarma/Automated-Rendering-Testing</a><a href="https://gitlab.com/gem/automated-rendering-testing/tree/master" target="_blank"><br />
</a></div>
<div></div>
